My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Message ",
        "formDescription": "From to stack",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "placeholder": "Enter your name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email",
              "placeholder": "Enter your email",
              "requiredField": true
            },
            {
              "fieldLabel": "Do you have slack account",
              "fieldType": "radio",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Yes"
                  },
                  {
                    "option": "No"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "f2481a80-e97e-48ef-b9f4-5c9fc2642921",
      "name": "On form submission",
      "webhookId": "aaabafe6-9398-4392-a613-fead3afa4a0b"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4c341a4-2963-484d-8430-bc8301102c9a",
              "leftValue": "={{ $json['Do you have slack account'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "a673f5f8-76fc-4e4d-aade-a95ab7d91fbc",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "d92abe09-0fe7-4484-9a67-820ad7cb2c07",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BGHHEQMEJ",
          "mode": "list",
          "cachedResultName": "social"
        },
        "text": "=New user here \nHi {{ $json.Name }}\nEmail: {{ $json.Email }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        416,
        -96
      ],
      "id": "d66688f2-bfbe-4285-afb8-f04b957c5c1f",
      "name": "Send a message",
      "webhookId": "5aa562ae-ed86-425b-8ae3-2dfb23d5e5f0",
      "credentials": {
        "slackApi": {
          "id": "LR5sg0wjcj16OIXq",
          "name": "Slack account 2"
        }
      }
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Name": "nabil",
          "Email": "nuralam39580@gmail.com",
          "Do you have slack account": "Yes",
          "submittedAt": "2026-07-10T11:59:08.627-04:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "90fcf3a7-d9eb-4372-9bc3-9c58aefce2c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "86a3b686f09545216287249675b71f0032dad1453a17bbf0d26625394332f7b0"
  },
  "nodeGroups": [],
  "id": "ETdV8toATlWTBbRQ",
  "tags": []
}